    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
    html,
    body {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        line-height: 1.4;
        scroll-behavior: smooth;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        display: flex;
        gap: 10px;
    }
    
    a {
        text-decoration: none;
    }
    
    header {
        border: 1px solid #ccc;
        height: 700px;
        position: sticky;
        top: 0;
    }
    
    nav h1 {
        font-size: 20px;
        font-weight: 500;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
    
    nav ul {
        list-style: none;
    }
    
    nav ul li {
        border-bottom: 1px solid #ccc;
        padding: 10px;
        color: black;
    }
    
    nav ul li:hover {
        background: #ccc;
        transition: 0.3s ease-in-out;
    }
    
    main {
        padding: 50px;
        min-width: 1200px;
    }
    
    section {
        margin-bottom: 50px;
    }
    
    section artical {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    section h2 {
        font-size: 20px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 10px;
        font-weight: 400;
    }
    
    section artical ul {
        margin-left: 30px;
    }
    
    section articalul ul li {
        margin-bottom: 10px;
    }
    
    code {
        white-space: pre-line;
        background: #f7f7f7;
        line-height: 2;
        padding: 15px;
        margin: 10px;
        border-radius: 5px;
        text-align: left;
    }
    
    @media(max-width:480px) {
        body {
            flex-direction: column;
        }
        header {
            height: auto;
        }
    }